/*
  Developer: Joel Rudsberg
  Email: rudsberg@live.se
*/
body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased; }

a button {
  cursor: pointer; }

a:hover {
  cursor: pointer; }

button {
  border-radius: 20px !important;
  border-width: 2px !important;
  font-weight: 500 !important; }
  button:hover {
    transition: all ease-in-out 350ms !important;
    transform: scaleX(1.15) !important;
    cursor: pointer; }

.info-header {
  min-width: 280px;
  max-width: 520px;
  margin: auto;
  margin-top: 15px;
  border-bottom: 1px #ddd solid; }

.info-header h2 {
  font-size: 2.4rem;
  font-weight: 600; }

.info-header p {
  font-weight: 300; }

.disabled:hover {
  cursor: default;
  transition: none !important;
  transform: none !important;
  background-color: inherit !important;
  border-color: #FED766 !important;
  color: black !important; }

/* ==================== HERO SECTION ==================== */
#hero-section {
  background-image: url("../img/desktop-reduced.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh; }
  #hero-section button {
    border-color: #FED766;
    color: white; }
    #hero-section button:hover {
      color: black !important;
      background-color: #FED766; }
  #hero-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh; }
  #hero-section .col {
    max-width: 650px;
    position: relative;
    top: -40px; }
  #hero-section img {
    width: 200px; }
  #hero-section h1 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.35; }
  #hero-section span, #hero-section a {
    font-size: 1.15rem;
    font-weight: 500;
    line-height: 1.35; }

/* ================== New Section ====================== */
#project-section {
  background-color: #FFF; }
  #project-section .info-header a {
    border-bottom: 1px #4288DC dotted;
    font-weight: 400; }
    #project-section .info-header a:hover {
      color: #FED766;
      text-decoration: none;
      border-bottom: 1px #FED766 dotted;
      transition: all ease-in-out 400ms; }
  #project-section h3 {
    font-size: 2rem;
    font-weight: 600; }
  #project-section button {
    border-color: #FED766;
    color: #252A30;
    font-size: 1rem;
    font-weight: 500; }
    #project-section button:hover {
      color: #FED766;
      background-color: #252A30;
      border-color: #252A30; }
  #project-section .project-text {
    max-width: 430px; }
  #project-section .project {
    box-shadow: 0px 24px 3px -24px #ddd; }
  #project-section .testimony:not(.last-testimony) {
    box-shadow: 0px 24px 3px -24px #ddd; }
  #project-section .testimony blockquote {
    max-width: 600px;
    margin: 0 auto; }
  #project-section #testimony {
    box-shadow: none !important; }
  #project-section .testimony img {
    width: 70px;
    height: 70px; }

/* ================== New Section ====================== */
#pp-section {
  background-color: #EEE; }
  #pp-section .info-header a {
    border-bottom: 1px #4288DC dotted;
    font-weight: 400; }
    #pp-section .info-header a:hover {
      color: #FED766;
      text-decoration: none;
      border-bottom: 1px #FED766 dotted;
      transition: all ease-in-out 400ms; }
  #pp-section button {
    border-color: #FED766;
    color: #252A30;
    font-size: 1rem;
    font-weight: 500; }
    #pp-section button:hover {
      color: #FED766;
      background-color: #252A30;
      border-color: #252A30; }
  #pp-section a:hover {
    text-decoration: none !important; }
  #pp-section .row {
    position: relative; }
    #pp-section .row .col-md-4 {
      position: relative; }
    #pp-section .row p {
      margin-bottom: 60px; }
    #pp-section .row a {
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      right: 0; }
  #pp-section .row .col-sm-6 {
    max-width: 300px;
    margin: 0 auto; }
  #pp-section .holder {
    margin: 0 auto;
    width: 230px;
    height: 230px;
    border-radius: 10px; }
  #pp-section .background {
    width: 230px;
    height: 230px;
    border-radius: 10px;
    position: relative; }
  #pp-section .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  #pp-section #todo-background {
    background: url("../img/todo.PNG");
    background-size: 100%;
    background-repeat: no-repeat; }
  #pp-section #todo-layer {
    background-color: rgba(37, 42, 48, 0.7); }
  #pp-section #particle-background {
    background: url("../img/canvas.PNG");
    background-size: 100%;
    background-repeat: no-repeat; }
  #pp-section #particle-layer {
    background-color: rgba(95, 146, 203, 0.7); }
  #pp-section #schack-background {
    background: url("../img/schack.PNG");
    background-size: 100%;
    background-repeat: no-repeat; }
  #pp-section #schack-layer {
    background-color: rgba(206, 110, 85, 0.7); }
  #pp-section #wind-background {
    background: url("../img/windtunnel.jpg");
    background-size: 100%;
    background-repeat: no-repeat; }
  #pp-section #wind-layer {
    background-color: rgba(92, 192, 145, 0.7); }
  #pp-section #wind .title {
    font-size: 1.25rem; }
  #pp-section button {
    max-width: 260px;
    margin: 0 auto; }
  #pp-section .title {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 500; }

/* ================== Skills Section ====================== */
#star-text {
  font-size: 0.65rem; }

#skills-section {
  background-color: #FFF; }

/* ================== Contact Section ====================== */
#contact-section {
  background-color: #FED766; }
  #contact-section .info-header {
    min-width: 280px;
    max-width: 600;
    margin: auto;
    border-bottom: none; }
    #contact-section .info-header h2 {
      font-size: 2.6rem;
      font-weight: 600; }
    #contact-section .info-header button {
      color: #252A30;
      border-color: #252A30;
      width: 170px; }
      #contact-section .info-header button:hover {
        background-color: #252A30;
        color: #FED766;
        cursor: pointer; }

/* ================== Footer Section ====================== */
#footer-section {
  background-color: #252A30; }
  #footer-section .row .d-flex {
    max-width: 120px;
    margin-left: auto;
    margin-right: auto; }
  #footer-section i {
    color: #A6A8AA; }
    #footer-section i:hover {
      color: white;
      transition: all ease-in-out 300ms;
      transform: scale(1.1); }

@media (min-width: 576px) {
  #hero-section h1 {
    font-size: 1.65rem;
    font-weight: 600;
    line-height: 1.35; }
  #hero-section span, #hero-section a {
    font-size: 1.35rem;
    font-weight: 500;
    line-height: 1.35; }
  #hero-section img {
    width: 240px; }

  #contact-section .info-header {
    max-width: 630px; } }
@media (min-width: 768px) {
  #project-section #project-tintin {
    margin-right: auto; }
  #project-section #project-dani {
    margin-left: auto; }
  #project-section .project-text p, #project-section .project-text h3, #project-section .project-text a {
    text-align: left; } }
@media (min-width: 992px) {
  #hero-section .col {
    top: -40px; }

  #pp-section .title {
    font-size: 1.38rem; } }

/*# sourceMappingURL=app.css.map */
