body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.2rem !important;
}


.info-header {
  min-width: 280px;
  max-width: 520px;
  margin: auto;
  border-bottom: 1px #ddd solid;
}

/* ==================== HERO SECTION ==================== */

#hero-section {
  background-image: url("../img/mountain-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#hero-section img {
  width: 180px;
}

#hero-section .dark-overlay {
  background-color: rgba(0, 0, 0, 0.67);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
}

#hero-section .col {
  max-width: 460px;
}

/* ================== New Section ====================== */

#project-section {
  background-color: #36595e;
}

#project-section .project, .testimony {
  box-shadow: 0px 24px 3px -24px #ddd;
}

#project-section .testimony blockquote {
  max-width: 600px;
  margin: 0 auto;
}

#project-section #testimony {
  box-shadow: none !important;
}

#project-section .testimony img {
  width: 70px;
}


/* ================== New Section ====================== */

#pp-section {
  background-color: #466f75;
}

#pp-section .row {
  position: relative;
}

#pp-section img {
  border-radius: 10px;
  opacity: 0.3;
  width: 230px;
  height: 230px;
}

#pp-section button {
  max-width: 260px;
  margin: 0 auto;
}

#pp-section .title {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
}



/* ================== New Section ====================== */

#star-text {
  font-size: 0.65rem;
}


#skills-section {
  background-color: #36595e;
}


/* ================== New Section ====================== */


#contact-section .info-header {
  min-width: 280px;
  max-width: 600;
  margin: auto;
  border-bottom: none;
}

#contact-section .info-header h2 {
  font-size: 2.6rem;
  font-weight: 600;
}

#contact-section .info-header button {
  color: #252A30;
  border-color: #252A30;
  width: 170px;
  border-radius: 14px;
  border-width: 2px;
}

#contact-section .info-header button:hover {
  background-color: #252A30;
  color: #FED766;
  transition: all ease-in-out 350ms;
  transform: scaleX(1.15);
}


#contact-section {
  background-color: #FED766;
}


/* ================== New Section ====================== */


#footer-section {
  background-color: #252A30;
}

#footer-section .row .d-flex {
  max-width: 120px;
  margin-left: auto;
  margin-right: auto;
}

#footer-section i {
  color: #A6A8AA;
}

#footer-section i:hover {
  color: white;
  transition: all ease-in-out 300ms;
  transform: scale(1.1);
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  #pp-section .title {
    font-size: 1.38rem;
  }
}

@media (min-width: 1200px) {

}
